/* Import a font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

/* Use the imported font for the entire website */
* {
  font-family: 'Orbitron', sans-serif;
}

/* style entire background */
body {
  position: relative;
  background-image: url('./imgs/blockchainbackground.jpeg');
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./imgs/blockchainbackground.jpeg'); 
}
/* change font to cyan */
* {
  color: #00FFFF;
}

/* Style the navbar */
nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  box-sizing: border-box;
  background-color: #000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 2;
  opacity: 0.8;
  /* filter: blur(5px); */
}

nav ul {
  display: flex;
}

nav li {
  margin: 0 10px;
}

nav a {
  color: #00FFFF;
  text-decoration: none;
  font-size: 1.2em;
  transition: all 0.3s ease;
}

nav a:hover {
  color: #6dd5ed;
}

/* Style the header */
.App-header {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  height: 100vh; /* Make the header take up the entire page */
  padding: 50px 20px;
}

.header-content {
  display: flex;
  align-items: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.header-text {
  margin-right: 20px;
}

.header-content img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header-content h1 {
  font-size: 3em;
  margin-bottom: 20px;
}

.header-content p {
  font-size: 1.2em;
  margin-bottom: 20px;
}

/* Center the text for each section */
section {
  text-align: center;
  padding: 20px;
  
  display: flex;
  align-items: center;
  justify-content: center;
}

section#about {
  height: 40vh;
}

section#timeline {
  height: 100vh;
}

section#projects {
  height: 200vh;
}

section#contact {
  height: 0vh;
  padding-bottom: 50vh;
}


/* scroll behaviour */
.App {
  scroll-behavior: smooth;
}

/* about me section */
#about-description {
  padding: 100px;
  padding-top: 0px;
}

.hidden {
  display: none; /* Hide the element */
}

.black-button {
  background-color: #000; /* Set the background color of the button to black */
  border: 2px solid #fff; /* Add a white border to the button */
  border-radius: 4px; /* Round the corners of the button */
}

.black-button:hover {
  background-color: #333; /* Change the background color of the button on hover */
  border-color: #6dd5ed; /* Change the border color of the button on hover */
}

.black-button {
  background-color: #000; /* Set the background color of the button to black */
  border: 2px solid #fff; /* Add a white border to the button */
  border-radius: 4px; /* Round the corners of the button */
  padding: 10px 20px; /* Add some padding to the button */
}

/* #div1 {
  display: block;
} */

/* timeline */

section#timeline h2 {
  text-align: center;
  margin-bottom: 20px; /* add some vertical space between the title and the timeline container */
}

.timeline-container {
  width: 800px; /* Set the width of the timeline */
  height: 500px; /* Set the height of the timeline */
  margin: 0 auto; /* Center the timeline horizontally */
}

.timeline {
  display: flex; /* Enable flexbox layout for the timeline */
  align-items: flex-start; /* Align the timeline events to the top of the timeline */
  height: 100%; /* Make the timeline take up the entire height of the container */
  flex-direction: column; /* Arrange the timeline events in a column */
  position: relative; /* Enable positioning for the timeline */
}

.timeline-event {
  display: flex;
  align-items: flex-start;
  border-bottom: 2px solid #00FFFF; /* Add a cyan blue border to the bottom of the element */
  margin-top: 50px; /* Add some space between the border and the previous timeline event */
  
}

.timeline-year,
.timeline-location,
.timeline-occupation {
  width: 300px;
  margin-bottom: 50px;
}

.timeline-event {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Create as many columns as needed, with a minimum width of 200px and a maximum width of 1fr */
  grid-template-rows: 1fr 1fr; /* Create two rows */
  grid-gap: 20px; /* Add a gap between the grid items */
}

/* Style the education section */
#education {
  color: #fff;
}

/* Style the degrees */
.degrees {
  display: flex;
  justify-content: space-between;
}

/* Style each degree */
.degree {
  width: 45%;
  padding: 20px;
  box-sizing: border-box;
}

.degree h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.degree p {
  font-size: 1.2em;
  margin-bottom: 10px;
}

section#education .degree img {
  width: 200px;
  height: 200px;
  display: block;
  margin: 0 auto;
}

section#education .degree {
  width: 400px;
  margin: 20px auto;
  text-align: left;
}
