/* Import a font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

/* Use the imported font for the entire website */
* {
  font-family: 'Orbitron', sans-serif;
}

/* style entire background */
body {
  position: relative;
  background-image: url('./imgs/blockchainbackground.jpeg');
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./imgs/blockchainbackground.jpeg'); 
}
/* change font to cyan */
* {
  color: #00FFFF;
}

/* Style the navbar */
nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  box-sizing: border-box;
  background-color: #000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 2;
  opacity: 0.8;
  /* filter: blur(5px); */
}

nav ul {
  display: flex;
}

nav li {
  margin: 0 10px;
}

nav a {
  color: #00FFFF;
  text-decoration: none;
  font-size: 1.2em;
  transition: all 0.3s ease;
}

nav a:hover {
  color: #6dd5ed;
}

/* Style the header */
.App-header {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  height: 100vh; /* Make the header take up the entire page */
  padding: 50px 20px;
}

.header-content {
  display: flex;
  align-items: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.header-text {
  margin-right: 20px;
}

.header-content img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header-content h1 {
  font-size: 3em;
  margin-bottom: 20px;
}

.header-content p {
  font-size: 1.2em;
  margin-bottom: 20px;
}



/* Center the text for each section */
section {
  text-align: center;
}

/* Make each section take up the whole page */
section {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* scroll behaviour */
.App {
  scroll-behavior: smooth;
}

/* timeline */
.timeline-container {
  width: 800px; /* Set the width of the timeline */
  height: 500px; /* Set the height of the timeline */
  margin: 0 auto; /* Center the timeline horizontally */
}

.timeline {
  display: flex; /* Enable flexbox layout for the timeline */
  align-items: flex-start; /* Align the timeline events to the top of the timeline */
  height: 100%; /* Make the timeline take up the entire height of the container */
  flex-direction: column; /* Arrange the timeline events in a column */
  position: relative; /* Enable positioning for the timeline */
}

.timeline-event {
  position: relative; /* Enable positioning for the timeline event */
  left: 50%; /* Center the timeline event horizontally */
  top: 0; /* Align the timeline event to the top */
  transform: translate(-50%, 0); /* Center the timeline event horizontally */
  width: 150px; /* Set the width of the timeline event */
  height: 150px; /* Set the height of the timeline event */
  background-color: #fff; /* Set the background color of the timeline event */
  border-radius: 10px; /* Round the corners of the timeline event */
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); /* Add a shadow to the timeline event */
  display: flex; /* Enable flexbox layout for the timeline event */
  align-items: center; /* Center the content of the timeline event vertically */
  justify-content: center; /* Center the content of the timeline event horizontally */
  flex-direction: column; /* Arrange the content of the timeline event in a column */
  text-align: center; /* Center the text of the timeline event */
}

.timeline-event h3 {
  font-size: 1.2em; /* Set the font size of the event title */
  margin-bottom: 10px; /* Add a margin below the event title */
  color: #333; /* Set the color of the event title */
  z-index: 1;
}

.timeline-event p {
  font-size: 1em; /* Set the font size of the event description */
  color: #555; /* Set the color of the event description */
}
