/* Import a font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

/* Use the imported font for the entire website */
* {
  font-family: 'Orbitron', sans-serif;
}

/* style entire background */
body {
  position: relative;
  background-image: url('./imgs/blockchainbackground.jpeg');
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./imgs/blockchainbackground.jpeg'); 
}
/* change font to cyan */
* {
  color: #00FFFF;
}

/* Style the navbar */
nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  box-sizing: border-box;
  background-color: #000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 2;
  opacity: 0.8;
  /* filter: blur(5px); */
}

nav ul {
  display: flex;
}

nav li {
  margin: 0 10px;
}

nav a {
  color: #00FFFF;
  text-decoration: none;
  font-size: 1.2em;
  transition: all 0.3s ease;
}

nav a:hover {
  color: #6dd5ed;
}

/* Style the header */
.App-header {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  height: 100vh; /* Make the header take up the entire page */
  padding: 5px 20px;
}

.header-content {
  display: flex;
  align-items: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.header-text {
  margin-right: 20px;
}

.header-content img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header-content h1 {
  font-size: 3em;
  margin-bottom: 20px;
}

.header-content p {
  font-size: 1.2em;
  margin-bottom: 20px;
}

/* Center the text for each section */
section {
  text-align: center;
  padding: 20px;
  
  display: flex;
  align-items: center;
  justify-content: center;
}

section#about {
  text-align: center;
  padding: 20px;
  margin-top: 0vh;
  height: 40vh;
}

section#timeline {
  height: 100vh;
  margin-bottom: 25vh;
}

section#projects {
  margin-top: 15vh;
  height: 500vh;
}

section#contact {
  height: 0vh;
  padding-bottom: 50vh;
  margin-top: 35vh;
}


/* scroll behaviour */
.App {
  scroll-behavior: smooth;
}

/* about me section */
#about-description {
  padding: 100px;
  padding-top: 0px;
  padding-left: 200px;
  padding-right: 200px;
}

.hidden {
  display: none; /* Hide the element */
}

.black-button {
  background-color: #000; /* Set the background color of the button to black */
  border: 2px solid #fff; /* Add a white border to the button */
  border-radius: 4px; /* Round the corners of the button */
}

.black-button:hover {
  background-color: #333; /* Change the background color of the button on hover */
  border-color: #6dd5ed; /* Change the border color of the button on hover */
}

.black-button {
  background-color: #000; /* Set the background color of the button to black */
  border: 2px solid #fff; /* Add a white border to the button */
  border-radius: 4px; /* Round the corners of the button */
  padding: 10px 20px; /* Add some padding to the button */
}

/* #div1 {
  display: block;
} */

/* timeline */
#timeline-title {
  border-bottom: 2px solid #00FFFF;
  margin-bottom: 50px;
  text-align: center;
  padding-bottom: 20px;
}

section#timeline h2 {
  text-align: center;
  margin-bottom: 40px;
}

.timeline-container {
  width: 90%;
  height: 500px;
  max-width: 800px;
  margin: 0 auto;
}

.timeline {
  display: flex;
  align-items: flex-start;
  height: 100%;
  flex-direction: column;
  position: relative;
}

.timeline-event {
  display: grid;
  align-items: flex-start;
  border-bottom: 2px solid #00FFFF;
  margin-top: 50px;
  margin-bottom: 50px;
  grid-template-columns: auto 1fr;
}

.timeline-year,
.timeline-location,
.timeline-occupation {
  width: 200px;
  padding: 10px;
  text-align: center;
}

.timeline-occupation h3 {
  margin: 0;
}

.timeline-event {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-rows: 1fr auto;
  grid-gap: 20px;
  border-bottom: 2px solid #00FFFF;
  padding-bottom: 20px;
}

.timeline-image,
.timeline-description {
  margin-right: 30px;
  padding: 0 10px;
}

.timeline-image img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}

.timeline-details {
    width: 200%; /* Limit the width to the available space */
    overflow-wrap: break-word; /* Allow words to break across lines if needed */
}

/* Style the education section */
#education {
  color: #fff;
}

/* Style the degrees */
.degrees {
  display: flex;
  justify-content: space-between;
}

/* Style each degree */
.degree {
  width: 45%;
  padding: 20px;
  box-sizing: border-box;
}

.degree h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.degree p {
  font-size: 1.2em;
  margin-bottom: 10px;
}

section#education .degree img {
  width: 200px;
  height: 200px;
  display: block;
  margin: 0 auto;
}

section#education .degree {
  width: 400px;
  margin: 20px auto;
  text-align: left;
}

/* projects */
/* Style the projects section */
section#projects {
  height: 200vh;
  margin-bottom: 100px; /* Add margin to the bottom of the projects section */
}

.project-container {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  grid-gap: 20px;
  padding-top: 400px;
  position: relative;
  grid-template-rows: auto;
}

/* Style the projects section header container */
#projects-header {
  grid-column: 1 / -1; /* Make the header span both columns */
  text-align: center;
  border-bottom: 2px solid #00FFFF; /* Add a border line below the header */
  padding-bottom: 10px; /* Add spacing between header and line */
  margin-bottom: 40px; /* Add space between line and projects */
  width: 90%;
  max-width: 800px;
}

.project {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.project-image {
  flex: 1;
  display: flex;
  justify-content: center;
}

.project-image img {
  max-width: 100%;
  max-height: 100%;
}

.project-info {
  flex: 2;
  padding: 0 20px;
}

/* Position the project image to the right */
.project.right .project-image {
  order: 2;
}

.project.right .project-info {
  order: 1;
}


/* Fade in and out animations */
/* #div1, #div2, #div3 {
  opacity: 1; 
  transition: opacity 0.5s ease; 
}

.hidden {
  opacity: 0; 
  pointer-events: none; 
} */